.wrapper {
  width: 960px;
  min-height: 400px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.leftcol {
  width: 220px;
  border: 1px solid red;
  min-height: 200px;
  display: block;
  float:left;
  padding: 10px;

 }
 .rightcol {
   width: 680px;
   border: 1px solid red;
   min-height: 200px;
   display: block;
   float: right;
   padding: 10px;
  }
  .clear { clear: both;}
