.dark-bg { background: #AE4300; }
.medium-bg { background: #FF6708; }
.light-bg { background: #FFA066; }

.dark-txt { color: #AE4300; }
.medium-txt { color: #FF6708; }
.light-txt { color: #FFA066; }
/* A comment */
body {
  padding: 0;
  margin: 0;
}
nav ul {
  list-style-type: none; padding-left:0;
}
nav a { text-decoration: none;}
