.dark-bg { background: #AE4300; }
.medium-bg { background: #FF6708; }
.light-bg { background: #FFA066; }

.dark-txt { color: #AE4300; }
.medium-txt { color: #FF6708; }
.light-txt { color: #FFA066; }

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #CCCCCC;
}
.clear { clear: both;}
.gallery ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.gallery li {
  border: 1px solid #CCCCCC;
  display: block;
}
.outerimage {
  background: url('../images/wide.jpeg') top center no-repeat;
  background-size: cover;
  height: 400px;

}
.innertext {
 font-size: 30px;
 color: white;
 padding: 40px;
 text-shadow: 1px 1px 3px #888; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */

}
/* A comment */
body {
  padding: 0;
  margin: 0;
}
nav ul {
  list-style-type: none; padding-left:0;
}
nav a { text-decoration: none;}

img { max-width: 100%; }

footer p { padding: 25px; }
