header h1 {
  height: 100px;
  padding-top: 50px;
  text-align: center;
}
nav ul {
  text-align: center;
}
nav li {
  text-align: center;
  font-size: 32px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline;
}
.square-img {
  display: none;
 }
.wide-img {
  display: block;
 }
 .gallery { width: 100%;}
 .outerimage { height: auto;}
 .gallery li {
   width: 45%;
   margin: 2%;
   margin-top: 10px;
   margin-bottom:10px;
   float: left;
 }
