header h1 {
  height: 100px;
  padding-top: 50px;
  text-align: center;
}
nav ul { text-align: center;
}
nav li {
text-align: center;
font-size: 32px;
padding: 25px;
padding-top: 15px;
padding-bottom: 15px;
display: inline;
}
