#mainimg { width:150px; }

body {
  background: url('../images/gradient.png');
  background-repeat: no-repeat;
  background-size: cover;}
  p {
    color: #cc33ff;
    padding: 20px;
    background: #ffffff88
  }
  ul {
    margin-top: 20px;
  }
  ul li {
    list-style-type: none;
    display: inline;

  }
  ul li a {
    padding: 20px;
    background: url('../images/gradient.png');
    background-size:cover;
    background-position: bottom;

  }
  ul li a:hover {
    background-position: top;

  }
