#maintitle {
  color: #FFCC00;
  width: 400px;
  height: 400px;

  border: 2px solid #FFCC00;
  border-left: 20px solid #FFCC00;

  padding: 25px;
  padding-top: 100px;

  margin: 100px;

}
.largetext { font-size: 36px; }
main {
  width:800px;
  border: 1px dotted black;
  margin-left: auto;
  margin-right: auto;

}
