/* NOTES:

Selectors:

HTML selectors are those who reference a specific tag such as p, h1, section, main etc.

Class and ID seclectors

We can make our own custom selectors by using ids or classes. The benefit of this is that you can have the same HTML element, but present it differently depending on its class or ID.

A class selector is a name preceded by a period (“.”) and an ID selector is a name preceded by a hash (“#”).

Class / id names must begin with a letter and not contain special characters

Pseudo classes
The :hover pseudo class in CSS selects elements when the mouse cursor is current over them. It's commonly associated with link (<a>) elements.


visit https://css-tricks.com/almanac/ for more properties and selectors

visit https://css-tricks.com/snippets/css/ for nice css effects and ideas


*/

#maintitle {
  color: #FFCC00;
  width: 400px;
  height: 400px;
  border: 2px solid #FFCC00;
  border-left: 20px solid #FFCC00;
  padding: 25px;
  padding-top: 100px;
  margin: 100px;
}
.roboto { font-family: 'Roboto Condensed', sans-serif; }
#anotherid { }
.largetext { font-size: 36px; }

.pink-bg { background: #F778A5; }

.pink-text { color: #F778A5; }

.rgbexample { color: rgba(100, 30, 255, 0.5); }

main {
  width:800px;
  border: 1px dotted black;
  margin-left: auto;
  margin-right: auto;

}
a {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;

}
ul { list-style-type: square;}

a:hover {
  color:yellow;
}
p {}
section { margin-top: 20px; border-top: 3px dashed red;}
