a {

}
p {

}
h1 {

}
ul {
  color: red;
}

.customlist {
  color:purple;
}
#maintitle {
      font-family: 'Architects Daughter', cursive;
}
.architectsdaughter {
  font-family: 'Architects Daughter', cursive;
}
.kalam {
  font-family: 'Kalam', cursive;
}
.parisienne {

    font-family: 'Parisienne', cursive;
}
.redborder {
  border: 3px solid red;
}
.blackborder {
  border: 3px solid black;

}
