<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Layout 1</title>
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" media="only screen and (max-width:480px)" href="css/phone.css">
  <link rel="stylesheet" media="only screen and (min-width:481px)" href="css/desktop.css">

</head>

<body>
  <header>
    <h1>Layout 4</h1>
  </header>
  <nav>
    <ul>
      <li><a href="layout-1.html">Layout 1</a></li>
      <li><a href="layout-2.html">Layout 2</a></li>
      <li><a href="layout-3.html">Layout 3</a></li>
      <li><a href="layout-4.html">Layout 4</a></li>
      <li><a href="https://github.com/wjattin/wjattin.github.io/tree/master/samples/layout">[VIEW CODE]</a></li>
    </ul>
  </nav>
  <div class="gallery">
    <img src="images/sample.jpg" alt="">
    <img src="images/sample.jpg" alt="">
    <img src="images/sample.jpg" alt="">
    <img src="images/sample.jpg" alt="">
    <img src="images/sample.jpg" alt="">
    <img src="images/sample.jpg" alt="">
    <img src="images/sample.jpg" alt="">
    <img src="images/sample.jpg" alt="">

  </div>
  <footer>
    <p>Copyright &copy; 2018 CIM 111</p>
  </footer>
</body>

</html>
