body{
  font-family: sans-serif;
}
#container{
	width: 100%;
	height: auto;
	background: rgba(255, 255, 255, 0.4);
	margin: 0 auto;
}

#col1{
float: left;
width: 31%;
height: 200px;
padding: 10px;
background-color: red;

}

#col2{
float: left;
width: 31%;
height: 200px;
padding: 10px;
background-color: green;
}

#col3{
float: left;
width: 31%;
height: 200px;
padding: 10px;
background-color: blue;

}

.clear{
  clear: both;
  float:none
}
